/* Normalize */

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

input:focus,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}

/* Common */

.container {
  width: 500px;
  margin: 30px auto;
}

.btn {
  background-color: white;
  border: none;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.nav-item {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border: 1px solid #00acc1;
  border-radius: 3px;
}

.nav-item--selected {
  color: #ffffff;
  background-color: #00acc1;
}

.main {
  margin: 20px 0;
}
